@model HighCode.Presentation.Data.Models.CodeTaskSolution

@{
    ViewData["Title"] = "Delete";
}

<h3>Вы уверены что хотите снять с публикации эту задачу?</h3>

<form asp-action="Delete">
    <input type="hidden" asp-for="Id" />
    <input type="submit" value="Снять" class="btn btn-danger" /> |
    <a asp-action="Create" asp-route-CodeTaskId="@Model.RelatedTaskId" class="btn btn-secondary">Вернуться</a>
</form>
