@{
    ViewData["Title"] = "Home Page";
}

<style>
    .hero_h1_gradient{
        background-image: linear-gradient(to right, blue, red);
        background-clip: text;
        -webkit-text-fill-color: transparent;
    }
</style>

<div class="text-center">
    <h1 class="hero_h1_gradient">
        Достигайте мастерства
    </h1>
    <h1>бросая вызов</h1>
    <p>Совершенствуйте свои навыки разработки, тренируясь со своими коллегами по code, которые постоянно бросают вызов вашей практике программирования и расширяют ее.</p>
@*     <a class="btn btn-primary btn-lg" asp-area="Identity" asp-page="/Account/Register">Начать</a>
 *@    
    <a class="btn btn-primary btn-lg" asp-action="Index" asp-controller="CodeTasks">Начать</a>
</div>
